body {
  font-family: arial, sans-serif;
}

li {
  list-style: none;
}

a {
  color: #e96e50;
}

.whole-project {
  margin: 30px auto;
  padding-top: 60px;
  padding-bottom: 0px;
  max-width: 750px;
  border: solid 1px rgb(#e96e50);
  border-radius: 4px;
  background-color: #455d7a;
}

.but-color {
  border-color: #e96e50;
  background-color: #e96e50;
}

.row-today {
  margin-bottom: 60px;
}

.weather-today img {
  width: 60px;
  height: 60px;
}

.weather-today strong {
  font-size: 48px;
  position: relative;
  top: 11px;
}

.weather-today a {
  text-decoration: none;
}

.weather-today .active {
  color: #212529;
  cursor: default;
}

.weather-today .active:hover {
  text-decoration: none;
}

.weather-today-details {
  color: #e96e50;
  opacity: 0.8;
  font-size: 12px;
  line-height: 16px;
  padding-top: 24px;
}

.weather-today-details ul {
  margin-bottom: 0;
  padding-left: 0;
}

.units {
  font-size: 16px;
  position: relative;
  top: -12px;
}

.right-position {
  margin-top: 17px;
}

.right-position h1 {
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

.right-position li {
  text-align: right;
  color: #e96e50;
  opacity: 0.8;
  font-size: 12px;
  line-height: 16px;
}

.right-position ul {
  text-align: right;
  margin-bottom: 0;
}

.col-2 {
  text-align: center;
}

.forecast-date {
  text-align: center;
  font-size: 16px;
}

.forecast-img img {
  width: 48px;
}

.forecast-temperature {
  font-size: 12px;
}

.bottom-line {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 9px;
}

#descriptionToday:first-letter {
  text-transform: capitalize;
}
