body {
  font-family: arial, sans-serif;
}

li {
  list-style: none;
}

.whole-project {
  margin: 30px auto;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 750px;
  border: solid 1px rgb(149, 147, 147);
  border-radius: 4px;
}

.weather-today img {
  width: 60px;
  height: 60px;
}

.weather-today strong {
  font-size: 48px;
  position: relative;
  top: 11px;
}

.weather-today a {
  text-decoration: none;
}

.weather-today-details {
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  padding-top: 24px;
}

.weather-today-details ul {
  margin-bottom: 0;
  padding-left: 0;
}

.units {
  font-size: 16px;
  position: relative;
  top: -12px;
}

.right-position {
  margin-top: 17px;
}

.right-position h1 {
  text-align: right;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0;
}

.right-position li {
  text-align: right;
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
}

.right-position ul {
  text-align: right;
  margin-bottom: 0;
}

#descriptionToday:first-letter {
  text-transform: capitalize;
}
